input[readonly] {
  opacity: 0.6;
}

@media print {
  .hide-on-print,
  .uk-alert,
  button,
  .uk-button {
    display: none;
  }
}

.only-print {
  display: none;
  @media print {
    display: block;
  }
}
